.finaly{
    width: 100px;
    border: solid greenyellow;
}
.finalys{
    border: solid rosybrown;
    width: 100px;
}
.listas{

    display: flex;
}
form{
    padding-left: 48%;
}
input{width: 300px;
background-color: skyblue;
}